.page-meteor-canvas {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: -webkit-linear-gradient(top, #000000, #1e004e);
	background: linear-gradient(to bottom, #000000, #1e004e);
}

.page-meteor-canvas:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
	background-size: cover;
}

.page-meteor-canvas canvas {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.page-meteor-canvas #canvas {
	mix-blend-mode: multiply;
}

.page-meteor-canvas #buffer {
	-webkit-filter: blur(6px) brightness(10) contrast(1.25);
	filter: blur(6px) brightness(10) contrast(1.25);
	mix-blend-mode: screen;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}


.clouds{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
  
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:-5;
    margin-top: 290px;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}

  
  .fraction1 {
    display: inline-block;
    font-size: 2em;
    padding: 0 0.2em;
    text-align: center;
    vertical-align: middle;
    background-color: white ;
    padding: 20px;
    border-radius: 5px;
    margin-left: 85px;
    margin-top: 5px;
    width: 45px;
    margin-top: 25px;
    opacity: 1.0;
    color: black;
    filter: alpha(opacity=100);
  }

   
  .fraction1:before {
    border-bottom: 1px solid #000;
    content: attr(top);
    display: block;
    line-height: 1.6em;
    padding: 0 0.2em;
  }
  
  .fraction1:after {
    content: attr(bottom);
    display: block;
    line-height: 1.6em;
    padding: 0 0.2em;
  }
  
  .main1-photo{
    width: 350px;
    margin-left: 295px;
    text-align: center;
}

  .fraction1:hover{
    background-color: rgb(121, 121, 131);
    filter: alpha(opacity=50);
  }
  
  .clock{
    border-radius: 95px;
    border: 5px solid #fff;
    position: absolute;
    top: 5%;
    left: 5%;
    margin-left: 20px;
    margin-top: 75px;
    display: block;
    width: 150px;
    height: 150px;
  }
  
  .clock_blank{
    border-radius: 95px;
    border: 5px solid #fff;
    position: absolute;
    top: 5%;
    left: 5%;
    margin-left: 0px;
    margin-top: 0px;
    display: block;
    width: 150px;
    height: 150px;
    opacity: 0;
  }
  
  .clock:after{
    content: "";
    position: absolute;
    background-color: #fff;
    top: 10px;
    left: 48%;
    height: 65px;
    width: 4px;
    border-radius: 5px;
    -webkit-transform-origin: 50% 97%;
        transform-origin: 50% 97%;
    -webkit-animation: grdAiguille 20s linear infinite;
        animation: grdAiguille 20s linear infinite;
  }
  
  .wrapper{
    margin-left: 75px;
    margin-right: 75px;
  }

  .difficulty {
    display: inline-block;
    font-size: 2em;
    padding: 0 0.2em;
    text-align: center;
    vertical-align: middle;
    background-color: white ;
    padding: 20px;
    border-radius: 5px;
    margin-left: 85px;
    width: 125px;
    height: 125px;
    margin-top: 50px;
    opacity: 1.0;
    filter: alpha(opacity=100);
  }
  
  .difficulty:hover{
    opacity: 0.75;
  }

  .new{
    background-color: white ;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 25px;
  }

  .directions {
    display: inline-block;
    font-size: 2em;
    padding: 0 0.2em;
    text-align: center;
    vertical-align: middle;
    background-color: white ;
    padding: 20px;
    border-radius: 5px;
    margin-left: 550px;
    margin-top: -75px;
    font-size: 40px;
    opacity: 1.0;
    color: black;
  }
  
  .points_total{
    color:white;
    text-align: center; 
    font-size: 50px;
    font-weight: normal; 
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 0 #000000;
    margin-top: -50px;
    -webkit-animation: rainbowdropshadow 5s infinite;
    animation: rainbowdropshadow 5s infinite;
  }
  
  
  .directions:hover{
    filter: alpha(opacity=50);
    opacity: 0.75;
  }

  @-webkit-keyframes grdAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes grdAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
  .fraction_blank {
    display: inline-block;
    font-size: 2em;
    padding: 0 0.2em;
    text-align: center;
    vertical-align: middle;
    background-color: white ;
    padding: 20px;
    border-radius: 25px;
    margin-left: 100px;
    margin-top: 25px;
    opacity: 0;
  }
  
  
  
  html, body {
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    }

    