


  
  .fraction1 {
    display: inline-block;
    font-size: 2em;
    padding: 0 0.2em;
    text-align: center;
    vertical-align: middle;
    background-color: white ;
    padding: 20px;
    border-radius: 5px;
    margin-left: 85px;
    margin-top: 5px;
    width: 45px;
    margin-top: 25px;
    opacity: 1.0;
    color: black;
    filter: alpha(opacity=100);
  }

   
  .fraction1:before {
    border-bottom: 1px solid #000;
    content: attr(top);
    display: block;
    line-height: 1.6em;
    padding: 0 0.2em;
  }
  
  .fraction1:after {
    content: attr(bottom);
    display: block;
    line-height: 1.6em;
    padding: 0 0.2em;
  }
  
  .main1-photo{
    width: 350px;
    margin-left: 295px;
    text-align: center;
}


  .portfolio-photo{
    width: 155px;
    opacity: 1.0;
    filter: alpha(opacity=100);
    padding-right: 25px;
}

.portfolio-photo:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
}
  
  .clock{
    border-radius: 95px;
    border: 5px solid #fff;
    position: absolute;
    top: 5%;
    left: 5%;
    margin-left: 20px;
    margin-top: 42px;
    display: block;
    width: 150px;
    height: 150px;
  }
  
  .clock_blank{
    border-radius: 95px;
    border: 5px solid #fff;
    position: absolute;
    top: 5%;
    left: 5%;
    margin-left: 0px;
    margin-top: 0px;
    display: block;
    width: 150px;
    height: 150px;
    opacity: 0;
  }
  
  .clock:after{
    content: "";
    position: absolute;
    background-color: #fff;
    top: 10px;
    left: 48%;
    height: 65px;
    width: 4px;
    border-radius: 5px;
    -webkit-transform-origin: 50% 97%;
        transform-origin: 50% 97%;
    -webkit-animation: grdAiguille 20s linear infinite;
        animation: grdAiguille 20s linear infinite;
  }
  
  .wrapper{
    margin-left: 75px;
    margin-right: 75px;
  }

  .difficulty {
    display: inline-block;
    font-size: 2em;
    padding: 0 0.2em;
    text-align: center;
    vertical-align: middle;
    background-color: white ;
    padding: 20px;
    border-radius: 5px;
    margin-left: 85px;
    width: 125px;
    height: 125px;
    margin-top: 50px;
    opacity: 1.0;
    filter: alpha(opacity=100);
  }
  
  .difficulty:hover{
    opacity: 0.75;
  }

  .new{
    background-color: white ;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 25px;
  }

  .directions {
    display: inline-block;
    font-size: 2em;
    padding: 0 0.2em;
    text-align: center;
    vertical-align: middle;
    background-color: white ;
    padding: 20px;
    border-radius: 5px;
    margin-left: 550px;
    margin-top: -75px;
    font-size: 40px;
    opacity: 1.0;
    color: black;
  }
  
  .points_total{
    color:white;
    text-align: center; 
    font-size: 50px;
    font-weight: normal; 
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 0 #000000;
    margin-top: -50px;
    -webkit-animation: rainbowdropshadow 5s infinite;
    animation: rainbowdropshadow 5s infinite;
  }
  
  
  .directions:hover{
    filter: alpha(opacity=50);
    opacity: 0.75;
  }

  .fraction_blank {
    display: inline-block;
    font-size: 2em;
    padding: 0 0.2em;
    text-align: center;
    vertical-align: middle;
    background-color: white ;
    padding: 20px;
    border-radius: 25px;
    margin-left: 100px;
    margin-top: 25px;
    opacity: 0;
  }
  
  
  
  html, body {
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    }




.fraction5 {
  display: inline-block;
  content: attr(left);
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  padding-left: 10px;
  padding-top: 56px;
  padding-bottom: 56px;
  border-radius: 5px;
  margin-left: 85px;
  margin-right: -90px;
  margin-top: -20px;
  color: black;
  background-color: #16c280;

}

.fraction5:before {
  content: attr(top);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}



.fraction11 {
  display: inline-block;
  content: attr(left);
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  padding-right:20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
  margin-left: 85px;
  width:45px;
  margin-top: -20px;
  color: black;
  background-color: #16c280;

}

.fraction11:before {
  border-bottom: 1px solid #000;
  content: attr(top);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

.fraction11:after {
  content: attr(bottom);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

.mult{
  display: inline-block;
  font-size: 3.5em;
  padding-left: 375px;
  padding-top:35px;
  padding-bottom:42px;
  margin-top: 250px;
  margin-right: -90px;
  margin-left: 170px;
  background-color: white; 
  border-radius: 5px;
  z-index: 10000px;
}
.mult11{
  display: inline-block;
  font-size: 3.5em;
  margin-top: 75px;
  margin-left: 45px;
  margin-right: 45px;
}
.logo-photo{
  margin-top: 5px;
  width: 150px;
}

.fraction1 {
  display: inline-block;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  padding: 20px;
  border-radius: 5px;
  margin-left: 0px;
  margin-top: 25px;
  opacity: 1.0;
}


.points_scored {
  display: inline-block;
  font-size: 2em;
  content: "+6";
  color: black;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  width: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 45px;
  z-index: 550;
  
}

.points_scored:before {
  content: attr(top);
  display: block;
}


.fraction {
  display: inline-block;
  font-size: 2em;
  padding: 0 0.2em;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  width: 45px;
  padding: 30px;
  border-radius: 5px;
  margin-left: 0px;
  margin-top: -25px;
}

.fraction:before {
  border-bottom: 1px solid #000;
  content: attr(top);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

.fraction:after {
  content: attr(bottom);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}


.fraction_2 {
  display: inline-block;
  font-size: 2em;
  padding: 0 0.2em;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  color: black;
  width: 45px;
  padding: 30px;
  border-radius: 5px;
  margin-left: 0px;
  margin-top: -25px;
}

.mult_2{
  display: inline-block;
  font-size: 3.5em;
  margin-top: 75px;
  margin-left: 45px;
  margin-right: 45px;
  color: black;
}
.fraction_2:before {
  border-bottom: 1px solid #000;
  content: attr(top);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

.fraction_2:after {
  content: attr(bottom);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

.fraction {
  display: inline-block;
  font-size: 2em;
  padding: 0 0.2em;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  width: 45px;
  padding: 20px;
  border-radius: 5px;
  margin-left: 85px;
  margin-top: 55px;
  color: black;
  background-color: #16c280;

}

.fraction:before {
  border-bottom: 1px solid #000;
  content: attr(top);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

.fraction:after {
  content: attr(bottom);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

.fraction5 {
  display: inline-block;
  content: attr(left);
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  padding-left: 10px;
  padding-top: 46px;
  padding-bottom: 46px;
  border-radius: 5px;
  margin-left: 85px;
  margin-right: -90px;
  margin-top: 55px;
  color: black;
  background-color: white;

}

fraction5:hover{
  background-color: white;
}

.fraction5:before {
  content: attr(top);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

.fraction {
  display: inline-block;
  content: attr(left);
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  padding-right:20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  margin-left: 85px;
  margin-top: 55px;
  color: black;
  background-color: #16c280;

}
.wrapper55{
	margin-top: 70px; 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	width:1000; 
	color: black; 
	background-color:white; 
	padding: 25px; 
	border-radius: 5px;
	font-size: 25px;
}
.mult11_2{
  display: inline-block;
  font-size: 3.5em;
  margin-top: 75px;
  margin-left: 30px;
  margin-right: 30px;
}

.fraction:before {
  border-bottom: 1px solid #000;
  content: attr(top);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

.fraction:after {
  content: attr(bottom);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}


@-webkit-keyframes grdAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes grdAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

body,
html {
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.landscape {
  z-index: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.landscape .landscapeItem {
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -moz-transition: 1s bottom cubic-bezier(0.33, 0, 0, 1);
  -o-transition: 1s bottom cubic-bezier(0.33, 0, 0, 1);
  -webkit-transition: 1s bottom cubic-bezier(0.33, 0, 0, 1);
  -ms-transition: 1s bottom cubic-bezier(0.33, 0, 0, 1);
  transition: 1s bottom cubic-bezier(0.33, 0, 0, 1);
}
.landscape .landscapeItem.animateIn {
  bottom: 0px;
}
.landscape .landscapeItem.animateOut {
  bottom: -100%;
}
.landscape .landscapeItem.mountains.background {
  -moz-transition: 1s cubic-bezier(0.33, 0, 0, 1);
  -o-transition: 1s cubic-bezier(0.33, 0, 0, 1);
  -webkit-transition: 1s cubic-bezier(0.33, 0, 0, 1);
  -ms-transition: 1s cubic-bezier(0.33, 0, 0, 1);
  transition: 1s cubic-bezier(0.33, 0, 0, 1);
  bottom: 0;
  opacity: 0;
  z-index: 1;
  background-color: transparent;
  background-image: url("https://assets.wrap.co/asset/d29ccba9-5240-45d7-94e6-86f68544c01d/original?1477070083");
}
.landscape .landscapeItem.mountains.background.animateIn {
  opacity: 0.6;
  background-blend-mode: lighten;
  background-color: rgba(0, 255, 255, 0.1);
}
.landscape .landscapeItem.mountains.midground {
  z-index: 2;
  background-image: url("https://assets.wrap.co/asset/f561cc33-6c27-4789-b1ac-55e883856ee6/original?1477070083");
}
.landscape .landscapeItem.mountains.foreground {
  z-index: 3;
  background-image: url("https://assets.wrap.co/asset/79dfa679-451e-4916-be63-14b27380cf11/original?1477070083");
}
.landscape .landscapeItem.mountains:nth-last-child(1) {
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  -webkit-transition-delay: 0.6s;
  -ms-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.landscape .landscapeItem.mountains:nth-last-child(2) {
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  -ms-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
.landscape .landscapeItem.mountains:nth-last-child(3) {
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  -webkit-transition-delay: 0.8s;
  -ms-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
.landscape .landscapeItem.mountains:nth-last-child(4) {
  -moz-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  -webkit-transition-delay: 0.9s;
  -ms-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
.landscape .landscapeItem.mountains:nth-last-child(5) {
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -ms-transition-delay: 1s;
  transition-delay: 1s;
}
.landscape .landscapeItem.mountains:nth-last-child(6) {
  -moz-transition-delay: 1.1s;
  -o-transition-delay: 1.1s;
  -webkit-transition-delay: 1.1s;
  -ms-transition-delay: 1.1s;
  transition-delay: 1.1s;
}
.landscape .landscapeItem.mountains:nth-last-child(7) {
  -moz-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  -webkit-transition-delay: 1.2s;
  -ms-transition-delay: 1.2s;
  transition-delay: 1.2s;
}
.landscape .landscapeItem.mountains:nth-last-child(8) {
  -moz-transition-delay: 1.3s;
  -o-transition-delay: 1.3s;
  -webkit-transition-delay: 1.3s;
  -ms-transition-delay: 1.3s;
  transition-delay: 1.3s;
}
.landscape .landscapeItem.mountains:nth-last-child(9) {
  -moz-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  -webkit-transition-delay: 1.4s;
  -ms-transition-delay: 1.4s;
  transition-delay: 1.4s;
}
.landscape .landscapeItem.mountains:nth-last-child(10) {
  -moz-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  -webkit-transition-delay: 1.5s;
  -ms-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
.landscape .landscapeItem.trees.background {
  z-index: 4;
  background-image: url("https://assets.wrap.co/asset/935aa828-a719-4e32-9c27-f79010a263fc/original?1477070083");
}
.landscape .landscapeItem.trees.midground {
  z-index: 5;
  background-image: url("https://assets.wrap.co/asset/d9134d4e-c20b-4b0a-9275-1b711a6a5119/original?1477070083");
}
.landscape .landscapeItem.trees.foreground {
  z-index: 6;
  background-image: url("https://assets.wrap.co/asset/7306a5a6-124e-42cf-b4cf-2e9e2da26fdd/original?1477070083");
}
.landscape .landscapeItem.trees:nth-last-child(1) {
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.landscape .landscapeItem.trees:nth-last-child(2) {
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.landscape .landscapeItem.trees:nth-last-child(3) {
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.landscape .landscapeItem.trees:nth-last-child(4) {
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.landscape .landscapeItem.trees:nth-last-child(5) {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.landscape .landscapeItem.trees:nth-last-child(6) {
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  -webkit-transition-delay: 0.6s;
  -ms-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.landscape .landscapeItem.trees:nth-last-child(7) {
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  -ms-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
.landscape .landscapeItem.trees:nth-last-child(8) {
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  -webkit-transition-delay: 0.8s;
  -ms-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
.landscape .landscapeItem.trees:nth-last-child(9) {
  -moz-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  -webkit-transition-delay: 0.9s;
  -ms-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
.landscape .landscapeItem.trees:nth-last-child(10) {
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -ms-transition-delay: 1s;
  transition-delay: 1s;
}
.landscape .landscapeItem.topographic {
  transition: 1s opacity cubic-bezier(0.33, 0, 0, 1);
  transition-delay: 2s;
  opacity: 0;
  bottom: 0;
  z-index: 7;
  background-image: url("https://assets.wrap.co/asset/b62cefa-1b65-4fa5-91db-cd360855b0f6/original?1477070083");
}
.landscape .landscapeItem.topographic.animateIn {
  opacity: 0.2;
}
.landscape .landscapeItem.topographic.animateOut {
  opacity: 0;
}

.two {width:70%;
  height:35px;
background:linear-gradient(45deg,transparent 47%,black 51%,transparent 54%);}