

.nothing{
margin-top: 0px;
}

.directions {
  display: inline-block;
  font-size: 2em;
  padding: 0 0.2em;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  padding: 20px;
  border-radius: 5px;
  margin-left: 550px;
  margin-top: -75px;
  font-size: 40px;
  opacity: 1.0;
  color: black;
}

.wrapper55{
  margin-top: 70px; 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  width:1000; 
  color: black; 
  background-color:white; 
  padding: 25px; 
  border-radius: 5px;
  font-size: 25px;
}

.wrapper{
  margin-left: 235px;
  margin-right: 75px;
}

.wrapper1{
  margin-left: 75px;
  margin-right: 75px;
}

.new{
  background-color: white ;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 25px;
}

.directions:hover{
  filter: alpha(opacity=50);
  opacity: 0.75;
}

.difficulty {
  display: inline-block;
  font-size: 2em;
  padding: 0 0.2em;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  padding: 20px;
  border-radius: 5px;
  margin-left: 85px;
  width: 125px;
  height: 125px;
  margin-top: 50px;
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.difficulty:hover{
  opacity: 0.75;
}

.clock{
	border-radius: 95px;
	border: 5px solid black;
	position: absolute;
  top: 5%;
  left: 5%;
  margin-left: 0px;
  margin-top: 0px;
  display: block;
  width: 150px;
  height: 150px;
}

.clock_blank{
	border-radius: 0px;
  top: 5%;
  left: 5%;
  margin-left: 0px;
  margin-top: 0px;
  display: none;
  width: 0px;
  height: 0px;
}

.clock:after{
	content: "";
	position: absolute;
	background-color: black;
	top: 10px;
	left: 48%;
	height: 65px;
	width: 4px;
	border-radius: 5px;
	-webkit-transform-origin: 50% 97%;
			transform-origin: 50% 97%;
	-webkit-animation: grdAiguille 60s linear;
			animation: grdAiguille 60s linear;
}

@-webkit-keyframes grdAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes grdAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

.points_total{
  color:black;
  text-align: center; 
  font-size: 50px;
  font-weight: normal; 
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 0 #000000;
  margin-top: -50px;
  
}


.points_scored_blank {
  display: inline-block;
  font-size: 2.5em;
  content: "+6";
  color: black;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  padding: 20px;
  border-radius: 20px;
  margin-left: 800px;
  margin-top: -110px;
  opacity: 0;
}

.points_scored_blank:before {
  content: "+5";
  display: block;
  opacity: 0;
}

.mult{
  display: inline-block;
  font-size: 3.5em;
  margin-top: 75px;
  margin-left: 45px;
  margin-right: 45px;
}

.fraction {
  display: inline-block;
  font-size: 2em;
  padding: 0 0.2em;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  width: 45px;
  padding: 30px;
  border-radius: 5px;
  margin-left: 0px;
  margin-top: -25px;
}

.fraction:before {
  border-bottom: 1px solid #000;
  content: attr(top);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

.fraction:after {
  content: attr(bottom);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

.fraction_hidden {
  display: inline-block;
  font-size: 2em;
  padding: 0 0.2em;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  width: 45px;
  padding: 60px;
  border-radius: 5px;
  margin-left: 85px;
  margin-top: 5px;
}

.fraction_hidden:before {
  border-bottom: 1px solid #000;
  content: attr(top);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

.fraction_hidden:after {
  content: attr(bottom);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

.fraction1 {
  display: inline-block;
  font-size: 2em;
  padding: 0 0.2em;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  padding: 20px;
  border-radius: 5px;
  margin-left: 85px;
  width: 45px;
  margin-top: 25px;
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.fraction1:hover{
  background-color: white;
  filter: alpha(opacity=50);
}


.fraction_blank {
  display: inline-block;
  font-size: 2em;
  padding: 0 0.2em;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  padding: 20px;
  border-radius: 25px;
  margin-left: 100px;
  margin-top: 25px;
  opacity: 0;
}


.fraction1:before {
  border-bottom: 1px solid #000;
  content: attr(top);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

.fraction1:after {
  content: attr(bottom);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

.body{
  overflow: hidden;
  background-image:linear-gradient(#69f, #fff);
}

html, body {
  -webkit-background-size: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }



.points_scored {
  display: inline-block;
  font-size: 2em;
  content: "+6";
  color: black;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  width: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 45px;
  z-index: 550;
  
}

.points_scored:before {
  content: attr(top);
  display: block;
}

.points_scored:hover {
  background-color: white ;
  z-index: 550;
  opacity: .75;
}

.points_scored:before:hover {
  content: attr(top);
  display: block;
  background-color: white ;
}

html {
  height:100%;
}

.grass > div {
  animation:breeze 8s cubic-bezier(.8,-0.5,.25,1.5) infinite;
  background-color:#0b0;
  border-right:solid 5px #0c0;
  border-top-right-radius:100%;
  bottom:0;
  position:absolute;
  transform-origin:bottom;
  transition:all 100ms ease-in-out;
  width:3px;
}

@keyframes breeze {
  0%, 100% {
    transform:auto;
  }
  50% {
    transform:rotate(5deg);
  }
}

.sun {
  background-color:#fff;
  border-radius:50%;
  box-shadow:0 0 10vh 10vh #fff;
  height:10vh;
  position:fixed;
  right:2vh;
  top:2vh;
  width:10vh;
}


.fraction5 {
  display: inline-block;
  content: attr(left);
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  padding-left: 20px;
  padding-top: 56px;
  padding-bottom: 56px;
  border-radius: 5px;
  margin-left: 85px;
  margin-right: -90px;
  margin-top: -20px;
  color: black;
  background-color: #16c280;

}

.fraction5:before {
  content: attr(top);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}



.fraction11 {
  display: inline-block;
  content: attr(left);
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  padding-right:30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
  margin-left: 85px;
  margin-top: -20px;
  color: black;
  background-color: #16c280;

}

.fraction11:before {
  border-bottom: 1px solid #000;
  content: attr(top);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

.fraction11:after {
  content: attr(bottom);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

.fraction11_5 {
  display: inline-block;
  content: attr(left);
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  padding-right:15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  margin-left: 85px;
  margin-top: -20px;
  color: black;
  background-color: #16c280;

}

.fraction11_5:before {
  border-bottom: 1px solid #000;
  content: attr(top);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

.fraction11_9 {
  display: inline-block;
  content: attr(left);
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  padding-right:30px;
  padding-top: 56px;
  padding-bottom: 56px;
  border-radius: 5px;
  margin-left: 85px;
  margin-top: -20px;
  color: black;
  background-color: #16c280;

}

.fraction11_9:before {
  content: attr(top);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

.fraction11_5:after {
  content: attr(bottom);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

.fraction5_5 {
  display: inline-block;
  content: attr(left);
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  padding-left: 12px;
  padding-top: 41px;
  padding-bottom: 41px;
  border-radius: 5px;
  margin-left: 85px;
  margin-right: -90px;
  margin-top: -20px;
  color: black;
  background-color: #16c280;

}

.fraction5_5:before {
  content: attr(top);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

.mult{
  display: inline-block;
  font-size: 3.5em;
  padding-left: 375px;
  padding-top:35px;
  padding-bottom:42px;
  margin-top: 250px;
  margin-right: -90px;
  margin-left: 170px;
  background-color: white; 
  border-radius: 5px;
  z-index: 10000px;
}
.mult11{
  display: inline-block;
  font-size: 3.5em;
  margin-top: 75px;
  margin-left: 45px;
  margin-right: 45px;
}
.logo-photo{
  margin-top: 5px;
  width: 150px;
}

.fraction1 {
  display: inline-block;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  padding: 20px;
  border-radius: 5px;
  margin-left: 0px;
  margin-top: 25px;
  opacity: 1.0;
}

.mult_2{
  display: inline-block;
  font-size: 3.5em;
  margin-top: 75px;
  margin-left: 45px;
  margin-right: 45px;
  color: black;
}

.mult11_2{
  display: inline-block;
  font-size: 3.5em;
  margin-top: 75px;
  margin-left: 30px;
  margin-right: 30px;
}

.points_scored {
  display: inline-block;
  font-size: 2em;
  content: "+6";
  color: black;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  width: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 45px;
  z-index: 550;
  
}

.points_scored:before {
  content: attr(top);
  display: block;
}


.fraction {
  display: inline-block;
  font-size: 2em;
  padding: 0 0.2em;
  text-align: center;
  vertical-align: middle;
  background-color: white ;
  width: 45px;
  padding: 30px;
  border-radius: 5px;
  margin-left: 0px;
  margin-top: -25px;
}

.fraction:before {
  border-bottom: 1px solid #000;
  content: attr(top);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

.fraction:after {
  content: attr(bottom);
  display: block;
  line-height: 1.6em;
  padding: 0 0.2em;
}

